<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>495176247278-grs5ddcnett6jqed5knqbd7eqt5dio60.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.495176247278-grs5ddcnett6jqed5knqbd7eqt5dio60</string>
	<key>API_KEY</key>
	<string>AIzaSyCieIKVIW_N3s5-0xAckoDblFBBev6MkLQ</string>
	<key>GCM_SENDER_ID</key>
	<string>495176247278</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thangtmc73.pitel</string>
	<key>PROJECT_ID</key>
	<string>pitel-46ad9</string>
	<key>STORAGE_BUCKET</key>
	<string>pitel-46ad9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:495176247278:ios:754800b578cc036daf10ff</string>
</dict>
</plist>